html {
	background-color: white;
	font-family: 'Days One', sans-serif;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	text-align: left;
	color: rgba(81, 81, 81, 1.0);
}

body {
	padding: 0px;
	margin: 0px;
}